# Django
*.pyc
__pycache__/
db.sqlite3

# Media files (user uploads, generated audio)
media/audio

staticfiles/

# VSCode and OS files
.vscode/
.DS_Store
Thumbs.db

# Never track environment variables
_env