{% extends 'base/layouts/authenticated_layout.html' %}

{% block header_tabs %}
    <nav class="tabs">
        <a href="{% url 'my-lessons' %}" class="active">My Lessons</a>
        <a href="{% url 'lessons-repository' %}">Lessons Repository</a>
    </nav>
{% endblock %}

{% block breadcrumb_content %}
    {% include 'base/layouts/includes/breadcrumb.html' %}
{% endblock %}

{% block authenticated_content %}

    <div class="tab-content">
        {% block tab_content %}{% endblock %}
    </div>
{% endblock %}