{% extends 'base/layouts/my_lessons_layout.html' %}

{% block tab_content %}


<a href="{% url 'reset-progress' my_lesson.id %}"><button>Reset Progress</button></a>
<a href="{% url 'generate-lesson-audio-start' my_lesson.id %}">
    <button>Regenerate Audio for All Words</button>
</a>

<form method="POST" action="">
    {% csrf_token %}
    {{ edit_user_lesson_form.as_p }}
    <button type="button" onclick="window.location.href='{{ request.META.HTTP_REFERER }}'" style="display:inline;">Cancel</button>
    <input type="submit" value="Submit" />
</form>

{% endblock tab_content %}