{% extends "main.html" %}

{% block content %}

{% include 'base/includes/breadcrumb.html' %}

<h2><a href="{% url 'my-lesson-details' my_word.user_lesson.id %}">{{ my_word.user_lesson.lesson.title }}</a></h2>

<form method="POST" action="">
    {% csrf_token %}
    {{ edit_word_form.as_p }}
    <button type="button" onclick="window.location.href='{{ request.META.HTTP_REFERER }}'" style="display:inline;">Cancel</button>
    <input type="submit" value="Submit" />
    <a href="{% url 'delete-word' my_word.id %}" style="display:inline;" class="button" style="color:red;">Delete</a>
</form>

{% endblock content %}