{% extends "main.html" %}

{% block content %}

{% include 'base/includes/breadcrumb.html' %}
<h2><a href="{% url 'my-lesson-details' my_lesson.id %}">{{ my_lesson.lesson.title }}</a></h2>

<a href="{% url 'reset-progress' my_lesson.id %}"><button>Reset Progress</button></a>
<a href="{% url 'generate-lesson-audio-start' my_lesson.id %}">
    <button>Regenerate Audio for All Words</button>
</a>

<form method="POST" action="">
    {% csrf_token %}
    {{ edit_user_lesson_form.as_p }}
    <button type="button" onclick="window.location.href='{{ request.META.HTTP_REFERER }}'" style="display:inline;">Cancel</button>
    <input type="submit" value="Submit" />
</form>

{% endblock content %}