{% extends "main.html" %}

{% block content %}

<a href="{% url 'lesson-details' lesson.id %}">{{ lesson.title }}</a>
<h5>{{ lesson.description }}</h5>


 

<div class="lesson-container">

    {% if request.user.is_authenticated %}
        <form action="{% url 'import-lesson' lesson.id %}" method="post">
            {% csrf_token %}
            <button type="submit">Import Lesson</button>
        </form>
    {% endif %}


    {% for word in words %}
        <div>
            <a href="{% url 'word-details' lesson.id word.prompt %}">{{ word.prompt }} -> {{ word.translation }}</a>
        </div>    
    {% endfor %}

</div>  

{% endblock content %}