{% extends "main.html" %}

{% block content %}

<h1><a href="{% url 'lessons-repository' %}" class="text-3xl font-bold text-gray-800">Lessons Repository</a></h1>
<h2 class="mt-6"><a href="{% url 'lesson-details' lesson.id %}" class="text-xl font-bold text-gray-800">{{ lesson.title }}</a></h2>
{% if lesson.original_lesson %}
    {% if lesson.original_lesson.access_type.name == "private" %}
        <h3>Original Lesson: {{ lesson.original_lesson.title }} (private)</h3>
    {% else %}
        <h3>Original Lesson: <a href="{% url 'lesson-details' lesson.original_lesson.id %}">{{ lesson.original_lesson.title }}</a></h3>
    {% endif %}
{% endif %}

published by {{ lesson.author.userprofile.display_name }}
<br>
access rights: {{lesson.access_type.name}}
<br>
prompt language: {{lesson.prompt_language.name}}
<br>
translation language: {{lesson.translation_language.name}}
<br>
published on {{ lesson.created }}
<br>
last updated on {{ lesson.updated }}
<br>
rating {{ average_rating }} ({{ rating_count }} ratings)

<form action="{% url 'rate-lesson' lesson.id %}" method="get" style="display:inline;">
    <button type="submit" class="inline-block px-2 py-1 border border-gray-400 rounded bg-[#ddc2b1] text-gray-700 hover:underline hover:bg-gray-300 text-sm transition-all">Rate lesson</button>
</form>
<br>


 

<div class="lesson-container">

    {% if request.user.is_authenticated %}
        <form action="{% url 'import-lesson' lesson.id %}" method="get">
            <button type="submit" {% if not can_import %}disabled{% endif %}  class="inline-block px-2 py-1 border border-gray-400 rounded bg-[#ddc2b1] text-gray-700 hover:underline hover:bg-gray-300 text-sm transition-all mt-6">Import Lesson</button>
        </form>
    {% endif %}

    <button type="button" onclick="window.location.href='{{ request.META.HTTP_REFERER }}'" style="display:inline;" class="inline-block px-2 py-1 border border-gray-400 rounded bg-[#ddc2b1] text-gray-700 hover:underline hover:bg-gray-300 text-sm transition-all mt-2">Cancel</button>

    <h5 class="text-xl font-bold text-gray-800 mt-6">{{ lesson.description }}</h5>
    <hr>

    {% for word in words %}
        <div>
            <a href="{% url 'word-details' lesson.id word.prompt %}">{{ word.prompt }} -> {{ word.translation }}</a>
        </div>    
    {% endfor %}

</div>  

{% endblock content %}