{% extends 'main.html' %}

{% block content %}

{% if page == 'login' %}

<div>
    <form method="POST" action="">
        {% csrf_token %}
        
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" placeholder="Enter Username" autofocus />

        <label for="password">Password:</label>
        <input type="password" name="password" placeholder="Enter Password" id="password-input" />

        <label>
            <input type="checkbox" onclick="togglePassword()"> Show Password
        </label>

        <script>
        function togglePassword() {
            var x = document.getElementById("password-input");
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
        }
        </script>

        <input type="submit" value="Login" />
    </form>

    <a href="{% url 'password_reset' %}">Forgot your password?</a>

    <p>Haven't registered yet?</p>
    <a href="{% url 'register' %}">Register</a>

</div>

{% elif page == 'register' %}

<div>
    <form method="POST", action="">
        {% csrf_token %}
        
        {{form.as_p}}

        <input type="submit" value="Register" />
    </form>
    <p>Already registered?</p>
    <a href="{% url 'login' %}">Login</a>

</div>

{% endif %}

{% endblock content %}