{% extends "main.html" %}

{% block content %}

<h1><a href="{% url 'my-lessons' my_lesson.user.id %}">{{my_lesson.user.username}}'s lessons</a></h1>
<h2><a href="{% url 'my-lesson-details' my_lesson.id %}">{{ my_lesson.lesson.title }}</a></h2>

<a href="{% url 'start-practice' my_lesson.id %}"><button>Practice</button></a>

<br>

{{ my_lesson.lesson.access_type.name}}

<h5>Lesson description: {{ my_lesson.lesson.description }}</h5>

<h5>Target progress: {{ my_lesson.target_progress }}</h5>

<form action="{% url 'delete-my-lesson' my_lesson.id %}" method="get" style="display:inline;">
    <button type="submit">Delete lesson</button>
</form>

<form action="{% url 'copy-lesson' my_lesson.id %}" method="get" style="display:inline;">
    <button type="submit" {% if is_private %}disabled{% endif %}>Copy lesson</button>
</form>

<form action="{% url 'edit-lesson' my_lesson.id %}" method="get" style="display:inline;">
    <button type="submit"  {% if not is_author %}disabled{% endif %}>Edit lesson</button>
</form>
 

<div class="my-lesson-container">


    <table>
        <thead>
            <tr>
                <th>Prompt <br>({{my_lesson.lesson.prompt_language}})</th>
                <th>Translation <br> ({{my_lesson.lesson.translation_language}})</th>
                <th>Progress</th>
                <th>Details</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            {% for my_word in my_words %}
            <tr>
                <td>{{ my_word.word.prompt }}</td>
                <td>{{ my_word.word.translation }}</td>
                <td>{{ my_word.current_progress }}</td>
                <td>
                    <a href="{% url 'my-word-details' my_word.id %}">View</a>
                </td>
                <td>
                    <form action="{% url 'edit-word' my_word.id %}" method="get">
                        <button type="submit" {% if not can_edit %}disabled{% endif %}>Edit</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if can_edit %}
    <div>
    <h3>Add a new word to the lesson</h3>
    <form method="POST" action="">
        {% csrf_token %}
        {{ word_form.as_p }}
        <input type="submit" value="Add word" />
    </form>

    </div>
    {% endif %}

</div>  

{% endblock content %}