{% extends "main.html" %}

{% block content %}

<h1><a href="{% url 'my-lessons' user.id %}">{{user.username}}'s lessons</a></h1>

<a href="{% url 'lessons-repository' %}">Search lessons repository</a>
<br>

<a href="{% url 'create-lesson' %}">
    <button type="button">Create lesson</button>
</a>

<hr>
  

<div class="my-lessons-container">

    <div>
    {% for my_lesson in my_lessons %}
        <div>
            <a href="{% url 'my-lesson-details' my_lesson.id %}">{{ my_lesson.lesson.title }}</a>
        </div>    
    {% endfor %}

</div>


{% endblock content %}