{% extends "main.html" %}

{% block content %}

<h1><a href="{% url 'lessons-repository' %}">Lessons Repository</a></h1>
<h2><a href="{% url 'lesson-details' lesson.id %}">{{ lesson.title }}</a></h2>
<h5>{{ lesson.description }}</h5>


 

<div class="word-container">
    <div>
        <h5>Prompt: {{ word.prompt }} </h5>
        <h5>Translation: {{ word.translation }} </h5>
        <h5>Usage: {{ word.usage }} </h5>
        <h5>Hint: {{ word.hint }} </h5>
        <h5>Created: {{ word.created }} </h5>
        <h5>Last updated: {{ word.updated }} </h5>
    </div>    

</div>  


{% endblock content %}