{% extends 'base/layouts/my_lessons_layout.html' %}

{% block tab_content %}

<form method="POST" action="">
    {% csrf_token %}
    <p>Are you sure you want to delete your reference to "{{ my_lesson.lesson }}"?</p>

    {% if is_author and not is_private %}
        <p>
            You are the author of this lesson. Do you want to:
        </p>
        <button type="submit" name="action" value="delete_mylesson">
            Delete only my reference
        </button>
        <button type="submit" name="action" value="delete_both" style="color:red;">
            Delete lesson from repository (and all references)
        </button>
    {% elif is_author and is_private %}
        <p>
            You are the author of this private lesson. Do you want to delete permamently your lesson?
        </p>
        <button type="submit" name="action" value="delete_both">
            Delete permamently
        </button>

    {% else %}
        <input type="hidden" name="action" value="delete_mylesson"/>
        <input type="submit" value="Confirm"/>
    {% endif %}

    <button type="button" onclick="window.location.href='{{ request.META.HTTP_REFERER }}'">Cancel</button>
</form>

{% endblock tab_content %}